<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings file="custom.config">
		<add key="subject" value="jevg@live.com.pt" />
		<add key="publicKey" value="BHwVGPlm6a0l_IqkZOVrpso4LgKxO8ET78eNXjE-szZZZGG2u9VLPMddK6UEia6QCJwVkAT41ApYti2U4DaIWjQ" />
		<add key="privateKey" value="22lFhgPwWUVt423JLdoMHP_iMfZOU9YIL3hhpo1IRHc" />
	</appSettings>
</configuration>